<div class="container p-5">
    <div class="actions-bar">
        <div class="btn btn-primary"  id="saveUser">Save User</div>
    </div>
    <div class="container p-5">
        <form id="userForm">
            Username:<br>
            <input type="text" name="username" id="username" required /><br>
            Name:<br>
            <input type="text" name="name" id="name" required /><br>
            Surname:<br>
            <input type="text" name="surname" id="surname" required /><br>
            BirthDate:<br>
            <input type="date" name="birthDate" id="birthDate" required /><br>
            <div id="userAddForm">
                Password:<br>
                <input type="password" name="password" id="password" /><br>
            </div>
            <div id="userEditForm">
                Old Password:<br>
                <input type="password" name="oldPassword" id="oldPassword" /><br>
                New Password:<br>
                <input type="password" name="newPassword" id="newPassword" /><br>
            </div>
            Groups:<br>
            <div id="userGroups">

            </div>
        </form>
    </div>
</div>