<div class="container p-5">
    <div class="actions-bar">
        <div class="btn btn-primary" id="addGroupBtn">Add Group</div>
    </div>
    <div>
        <table class="table-auto w-full border-collapse border">
            <thead>
            <tr class="bg-gray-800 text-white">
                <th class="p-2">Id</th>
                <th class="p-2">Name</th>
                <th class="p2">Actions</th>
            </tr>
            </thead>
            <tbody id="groupsListTableBody">
            </tbody>
        </table>
    </div>
</div>